.container, .container-fluid {
    border: 1px solid gold;
}

[class^=col] {
    border: 1px solid magenta;
}

/* Standard styling for the page: */

* {
    color: white;
}

.blue-text {
    color: rgb(44,62,80);
}

.section-title {
    font-size: 50px;
    text-transform: uppercase;
}

.fa-star {
    font-size: 40px;
    display: block;
}

.star-deco {
    align-items: center;
}

.star-deco * {
    display: inline-block;
}

.star-deco .star-strip {
    border-bottom: 5px solid white;
    height: 50%;
    width: 100px;
    position: relative;
    bottom: 15px;
}

.star-deco i {
    padding: 0 10px;
}

.btn-transparent {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    transform: scale(1.2);
}

.btn-transparent i {
    color: white;
    margin: 0px 10px;
}

.btn-transparent:hover, .btn-transparent:hover i{
    background-color: white;
    color:black;
}

/* Styling nav */

nav {
    background-color: rgb(44,62,80);
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}

nav div, nav li {
    height: 100%;
    line-height: 80px;
}

nav a {
    color: white;
    font-weight: bolder;
}

nav div a[class="lead"]:hover {
    text-decoration: none;
    color: white;
}

nav ul a:hover {
    text-decoration: none;
    color: rgb(26,188,156);
}

.more-padding {
    padding: 0 10px;
}

/* Styling jumbo */

#jumbo {
    margin-top: 80px;
    background-color: rgb(26,188,156);
}

#jumbo h1 {
    font-size: 60px;
}

#jumbo img {
    width: 240px;
    padding-top: 100px;
}


#jumbo p {
    padding: 30px 0 90px;
    font-size: 175%;
}

/* Styling portfolio */

#portfolio {
    background-color: white;
    padding-bottom: 90px;
}

#portfolio h2 {
    margin-top: 90px;
}

#portfolio i {
    margin-bottom: 30px;
}

#portfolio .portfolio-item {
    margin-bottom: 30px;
    position: relative;
}

#portfolio .portfolio-item img {
    width: 100%;
}

#portfolio .overlay-green {
    width: calc(100% - 30px);
    height: 100%;
    background-color: rgba(26,188,156,0.9);
    line-height: 100%;
    position: absolute;
    top: 0;
    display: none;
}

.overlay-green i {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.overlay-green, #portfolio .portfolio-item:hover{
    display: block;
}

/* Styling about */

#about {
    background-color: rgb(26,188,156);
    padding-top: 60px;
}

#about p {
    font-size: 125%;
    margin-top: 40px;
}

#about a {
    margin: 40px 0 80px;
}

/* Styling contact */

#contact {
    height: 800px;
    background-color: white;
}

#contact [class^=col] {
    height: 200px;
}

/* Styling footer */

footer {
    height: 400px;
    background-color: rgb(44,62,80);
}

footer [class^=col] {
    height: 200px;
}

/* Styling copyright */

#copyright {
    height: 200px;
    background-color: rgb(26,37,47);
}
