.container, .container-fluid {
    border: 1px solid gold;
}

[class^=col] {
    border: 1px solid magenta;
}

/* Standard styling for the page: */

* {
    color: white;
}

/* Styling nav */

nav {
    background-color: rgb(44,62,80);
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}

nav div, nav li {
    height: 100%;
    line-height: 80px;
}

nav a {
    color: white;
    font-weight: bolder;
}

nav div a[class="lead"]:hover {
    text-decoration: none;
    color: white;
}

nav ul a:hover {
    text-decoration: none;
    color: rgb(26,188,156);
}

.more-padding {
    padding: 0 10px;
}

/* Styling jumbo */

#jumbo {
    margin-top: 80px;
    background-color: rgb(26,188,156);
}

#jumbo h1 {
    font-size: 60px;
}

#jumbo img {
    width: 240px;
    padding-top: 100px;
}

#jumbo i {
    font-size: 40px;
    display: block;
}

#jumbo .star-deco {
    align-items: center;
}

#jumbo .star-deco * {
    display: inline-block;
}

#jumbo .star-deco .star-strip {
    border-bottom: 5px solid white;
    height: 50%;
    width: 100px;
    position: relative;
    bottom: 15px;
}

#jumbo .star-deco i {
    padding: 0 10px;
}

#jumbo p {
    padding: 30px 0 90px;
    font-size: 175%;
}

/* Styling portfolio */

#portfolio {
    height: 800px;
    background-color: white;
}

#portfolio [class^=col] {
    height: 200px;
}

/* Styling about */

#about {
    height: 800px;
    background-color: rgb(26,188,156);
}

#about [class^=col] {
    height: 200px;
}

/* Styling contact */

#contact {
    height: 800px;
    background-color: white;
}

#contact [class^=col] {
    height: 200px;
}

/* Styling footer */

footer {
    height: 400px;
    background-color: rgb(44,62,80);
}

footer [class^=col] {
    height: 200px;
}

/* Styling copyright */

#copyright {
    height: 200px;
    background-color: rgb(26,37,47);
}
